name: Continuous Integration

on:
  push:
    branches:
      - 'main'
      - 'feature/enable-net10.0'
    paths:
      - '**'
      - '!docs/**'
      - '!samples/**'
      # - '!.github/**'

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  
jobs:
  build:
    name: Build and Test
    strategy:
      matrix:
        net-version: [6.0, 8.0, 10.0]
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.net-version }}

      - name: Restore
        run: |
          dotnet tool restore
          dotnet restore ./TheCleanArch.sln

      - name: Build to .NET ${{ matrix.net-version }}
        run: dotnet build ./TheCleanArch.sln --nologo -c Release --no-restore --no-incremental -warnaserror -f net${{ matrix.net-version }}
      
      - name: Test to .NET ${{ matrix.net-version }}
        run: dotnet test ./TheCleanArch.sln --nologo -c Release --no-build -f net${{ matrix.net-version }}
