name: Continuous Integration

on:
  push:
    branches:
      - "main"
    paths:
      - "**"
      - "!docs/**"

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  build:
    name: Build and Test
    strategy:
      matrix:
        dotnet-version: ["8.0", "10.0"]
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Set up .NET ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Restore
        run: |
          dotnet tool restore
          dotnet restore

      - name: Build to .NET ${{ matrix.dotnet-version }}
        run: dotnet build --nologo -c Release --no-restore --no-incremental -warnaserror -f net${{ matrix.dotnet-version }}

      - name: Test to .NET ${{ matrix.dotnet-version }}
        run: dotnet test --nologo -c Release --no-build -f net${{ matrix.dotnet-version }}
