name: Documentation

on:
  push:
    branches:
      - main
    paths:
      - '!**'
      - 'docs/**'
      - 'src/**'
      - 'samples/**'

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true

permissions:
  actions: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false
  
jobs:
  publish-docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    
    - name: Set up .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x

    - name: Restore
      run: dotnet tool restore

    - name: Build docs
      run: dotnet docfx ./docs/docfx.json

    - name: Upload docs
      uses: actions/upload-pages-artifact@v4
      with:
        path: 'docs/_site'
      
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
